@import './reset.css';
@import './base.css';


/* *header section */
.header {
	padding: 2.5rem 0 0;
	text-align: center;
}
.header__title {
	font-weight: 600;
	font-size: 2.5rem;
}



/* *footer section */
.footer {
	padding: 1rem 0;
	color: var(--white-color);
	background: #2b2b2e;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.footer__link {
	font-weight: 600;
	color: var(--blue-color);
	text-decoration: none;
	display: inline-flex;
	gap: 5px;
	align-items: center;
	transition: .2s linear;
}

.footer__link svg {
	width: 40px;
	height: 40px;
	fill: var(--white-color);
}

.footer__link svg circle {
	fill: var(--bg-blue-color);
	transition: .2s linear;
}

.footer__link:hover,
.footer__link:hover svg circle {
	color: var(--blue-color-hover);
	fill: var(--blue-color-hover);
}